<div ng-include="'components/navbar/navbar.html'"></div>
<HTML>
   <HEAD>
      <TITLE>Problems</TITLE>
   </HEAD>
   <BODY>
   	<div class="col-md-4" >
    <header></header>
    <h1>Problems</h1>
    <input type="text" class="form-control" ng-model="searchtext" placeholder="Search...">
    <br>
    </header>
    <table class = "table table-bordered">
    <tr>
    <th>Problem</th>
    <th>Difficulty</th>
  </tr>
  <tr ng-repeat="x in problems | filter :searchtext"" >
    
    <td> <a href ng-click ="toggle($index)">{{ x.name }} </a></td>
    <td>{{x.difficulty}}</td>
  </tr>
</table>
 </div>
 <br>
 <br>
 <div ng-hide = "problem1" class= "col-md-6" >
 	<h1>Problem Description</h1>
 	{{prblDescription}}
  <br>
  <br>
  <button type="button" class="btn btn-success">
            <a href="/solveProblem">Solve</a>
  </div>
 	</div>
   </BODY>
</HTML>


